#Contact {
    position: relative;
    display: flex;
    background-color: #736C4D;
    flex-wrap: wrap;
}

#ContactUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    font-size: 2em;

}

#spag {
    
    padding-top: 5%;
    padding-left: 5%;
    width: 40%;
}

#spag img{
    width: 100%;
}


#ContactUs h2 {
    font-size: 6vh;
}

#ContactUs p{
    padding-top: 5%;
    padding-bottom: 5%;
}

#ContactUs h2, #ContactUs p, .button{
    margin-left: 2%;
}

.button{
    background-color:  #bf964b;
    justify-content: flex-end;
    text-align: center;
    font-size: 2rem;
    width: 20%;
    padding: 1rem;
}