#gr2{
    display: flex;
}

#AboutBg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(../Img/Fond/gr2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    transform: translateX(-46.5%);
    
}    

#AboutUS{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 35%;
    width: 50%;
}



#AboutH{
    font-size: 10rem;
}

#AboutP{
    font-size: 5rem;
    text-align: justify;
}
