#gr9{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:#736C4D;
}

#aboutContainer{
    position: absolute;
    width: 100%;
    height: 60%;
    top: 20%;
    background-color: #BF964B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}

#about1{
    width: 50%;
}

#social{
    position: absolute;
    top: 70%;
    width: 16%;
}

#social ul{
    display: flex;
    justify-content: space-between;
}

#social ul li a img {
    position: absolute;
    width: 20%;
}
