header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #736C4D;
    z-index: 9;
}

#menuContainer{
    
    display: flex;
}


#olive {

    width: 10%;
}

#menuContainer ul{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#menuContainer li{
    justify-content: space-between;
    
}


#menuContainer ul li a {
    
    color: white;
}